@card-prefix: ~"@{css-prefix}card";

.@{card-prefix} {
    & {
        box-shadow      : @card-shadow;
        background-color: @card-bg;
        margin          : @margin-base; 
        padding         : @card-padding;
    }
}