@col-prefix: ~"@{css-prefix}col";

.@{col-prefix} {
    & {
        display   : inline-block;
        font-size : @font-size-base;
    }
    &-center{
       text-align: center;
       align-self: center;
    }
}