@input-row-prefix: ~"@{css-prefix}input-row";

.@{input-row-prefix} {
    & {
        height     : @input-row-input;
        display    : flex;
        align-items: center;
        position   : relative;
    }

    &-label {
        line-height: @input-row-input;
    }

    &-label-wrap {
        flex         : 1;
        white-space  : nowrap;
        text-overflow: ellipsis;
        overflow     : hidden;
        padding-left : @input-row-label-padding ;
    }

    &-input {
        .position-center();
        border          : 0 !important;
        padding         : 0 !important;
        margin          : 0 !important;
        border-radius   : 0 !important;
        padding-right: .pr(10)[@res] !important;
        text-align      : right;
        position        : absolute;
        overflow        : hidden;
    }

    &-input-wrap {
        flex    : 1;
        position: relative;
        height  : @input-row-input;
        border  : 0;
        padding : 0;

    }

    &-icon {
        font-size   : 125%;
        margin-right: @input-row-icon-margin-right;
    }

    &-select {
        /*很关键：将默认的select选择框样式清除*/
        appearance        : none;
        -moz-appearance   : none;
        -webkit-appearance: none;
        border            : none;
        outline           : none;
        direction         : rtl;
        background        : none;
        margin            : auto 0;
        padding           : 0;
        height            : 100%;
        line-height       : 100%;
        padding-right     : .pr(30)[@res];

        &>option {
            direction: ltr;
        }

        // background-color: red;

    }

    &-select-wrap {
        position: relative;
    }

    &-select-icon {
        font-size: 125%;
        position : absolute;
        right    : 0;
        top      : 0;
    }

}