@tag-area-prefix: ~"@{css-prefix}tag-area";


.@{tag-area-prefix} {
    & {
        .bg-inherit();
        padding-top: .5em;
    }

    &-title {
        .bg-inherit();
        line-height:1;
        position        : absolute;
        top             : 0;
        left            : 0;
        margin-top: -.5em;
        margin-left: 2em;
        padding: 0 .1em;
    }

    &-content {
        .bg-inherit();
        position        : relative;
        border          : @border;
        padding         : .5em;
    }

}